.post {
  max-width: var(--maxW);
  margin: 0 auto;
  align-items: center;
}

.post h1 {
  font-size: 2em;
  /* margin-top: 80px; */
  margin-bottom: 10px;
  font-weight: 600;
}
.post h2 {
  color: var(--primary);
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}
.post h3 {
  color: var(--primary);
  font-size: 1.17em;
  font-weight: 500;
  margin-bottom: 10px;
}
.html {
  margin-top: 40px;
}
.featured {
  margin-bottom: 40px;
}

a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: 400;
  transition: 0.1s;
}

a:hover {
  color: var(--tertiary);
}
