@import url("https://fonts.cdnfonts.com/css/satoshi");

:root {
  --primary: #f3f3f3;
  --secondary: #7b7b7b;
  --secondarygrey: #b8b8b8;
  --tertiary: #b392ac;
  --grey: #444444;
  --background: #121212;
  --maxW: 700px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Satoshi", sans-serif;
  color: var(--primary);
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--background);
}

p {
  letter-spacing: 0.05ch;
  margin: 16px auto;
  line-height: 1.75em;
  font-weight: 300;
  margin-bottom: 35px;
  color: var(--secondarygrey);
}

.layout {
  max-width: 1500px;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}

.content {
  margin: 20px;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav a {
  display: inline-block;
  margin-left: 12.5px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  transition: 0.1s;

  color: var(--secondary);
  padding: 10px 10px;
  border-radius: 7.5px;
}

nav a:hover {
  /* border-color: white; */
  /* background: #292929; */
  color: var(--primary);
}

.active {
  color: red;
}

footer p {
  text-align: center;
  color: var(--grey);
  margin: 40px auto;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--background);
  background: #b392ac;
}

::selection {
  color: var(--background);
  background: #b392ac;
}

hr {
  border: 0;
  height: 0.05ch;
  background: var(--grey);
  margin: 20px auto;
  width: 100%;
}
